# IntelliJ IDEA
.idea

# Backend
tomatomall-backend/target
tomatomall-backend/out
tomatomall-backend/src/main/resources/application.yml

# Frontend
tomatomall-frontend/node_modules/.vite/

# Optional: Ignore all .idea folders in submodules
**/.idea